<div class='container'>
    <header>
        <a href='{{{host}}}'>
            <img class='logo' src='{{{imgUrl}}}' />
        </a>
    </header>

    <div class='body'>
        <h2>Message from {{{name}}} ({{{email}}})</h2>
        <p>{{{message}}}</p>
    </div>
</div>